/*hakai*/
body{
	padding: 0;
	margin: 0;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/* button */
.button
button {
	color: #000000;
	text-decoration: none;


}
.about {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;

}
.imagek{
	position: absolute;
	top: 0px;
	text-align: center;
	width: 100%;
}
.saints {
	position: absolute;
	text-align: right;
	margin-top: 250px;
	width: 100%;
}
.youtube {
	position: absolute;
	text-align: left;
	top: 250px;
}
.project {
	position: absolute;
	top: 80px;
	text-align: center;
	width: 100%;
}
.twitter {
	position: absolute;
	text-align: left;
	bottom: 0;

}

a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	
}




/* hakai2 1 */

/*{background: url('../images/hakai2.jpg') no-repeat;
position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;
}

/* button */
/*
button {
	position: center;
	width: 192px;
	height: 68px;
	left: 864px;
	top: 957px;
position: absolute;
	text-align: right;
	width: 100%;}
